.head {
    position: absolute;
    top: 16%;
    left: 25%;
    width: 50%;
    height: 60%;
    background: pink;
    border-radius: 50%;
    z-index: 3;
  }
  
  .left_ear {
    position: absolute;
    top: 4%;
    left: 18%;
    width: 15%;
    height: 30%;
    background: pink;
    border-radius: 40%;
    z-index: 1;
   }
  
  .right_ear {
    position: absolute;
    top: 4%;
    right: 18%;
    width: 15%;
    height: 30%;
    background: pink;
    border-radius: 40%;
    z-index: 1;
   }
  
  .right_eye {
    position: absolute;
    top: 37%;
    right: 30%;
    width: 14%;
    height: 16%;
    background: black;
    border-radius: 50%;
    border: white 7px solid;
    z-index: 3;
  }
  
  .left_eye {
   position: absolute;
    top: 37%;
    left: 30%;
    width: 14%;
    height: 16%;
    background: black;
    border-radius: 50%;
    border: white 7px solid;
    z-index: 3; 
  }